{% extends 'base.html' %}
{% block content %}

<div class="container mt-1">
    <p class="mb-0"><a href="/edit_table">Редактирование расписания звонков</a></p>
    <p class="mb-0"><a href="/library">Библиотека</a></p>
    <p class="mb-0"><a href="/forum">Форум</a></p>
    <p class="mb-0"><a href="/ContacAdm">Обращение в администрацию</a></p>
    <p class="mb-0"><a href="/schedule">Расписание уроков</a></p>
    <p class="mb-0"><a href="/anonimquestion">Анонимное обращение</a></p>
</div>
{% endblock %}