{% extends 'base.html' %}
{% block content %}
<div>
    <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th colspan="5" class="text-center">Первая смена</th>
      <th colspan="5" class="text-center">Вторая смена</th>
    </tr>
    <tr>
      <th>Класс</th>
      <th>1 урок</th>
      <th>2 урок</th>
      <th>3 урок</th>
      <th>4 урок</th>
      <th>5 урок</th>
      <th>1 урок</th>
      <th>2 урок</th>
      <th>3 урок</th>
      <th>4 урок</th>
      <th>5 урок</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Математика</td>
      <td>Русский язык</td>
      <td>Обществознание</td>
      <td>Физика</td>
      <td>Иностранный язык</td>
      <td>Литература</td>
      <td>История</td>
      <td>География</td>
      <td>Биология</td>
      <td>Изобразительное искусство</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Математика</td>
      <td>Русский язык</td>
      <td>Обществознание</td>
      <td>Физика</td>
      <td>Иностранный язык</td>
      <td>Литература</td>
      <td>История</td>
      <td>География</td>
      <td>Химия</td>
      <td>Музыка</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Математика</td>
      <td>Русский язык</td>
      <td>Обществознание</td>
      <td>Физика</td>
      <td>Иностранный язык</td>
      <td>Литература</td>
      <td>История</td>
      <td>География</td>
      <td>Биология</td>
      <td>Физкультура</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Математика</td>
      <td>Русский язык</td>
      <td>Обществознание</td>
      <td>Физика</td>
      <td>Иностранный язык</td>
      <td>Литература</td>
      <td>История</td>
      <td>География</td>
      <td>Химия</td>
      <td>ИЗО</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Математика</td>
      <td>Русский язык</td>
      <td>Обществознание</td>
      <td>Физика</td>
      <td>Иностранный язык</td>
      <td>Литература</td>
      <td>История</td>
      <td>География</td>
      <td>Биология</td>
      <td>Физкультура</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Математика</td>
      <td>Русский язык</td>
      <td>Обществознание</td>
      <td>Физика</td>
      <td>Иностранный язык</td>
      <td>Литература</td>
      <td>История</td>
      <td>География</td>
      <td>Химия</td>
      <td>ИЗО</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Математика</td>
      <td>Русский язык</td>
      <td>Обществознание</td>
      <td>Физика</td>
      <td>Иностранный язык</td>
      <td>Литература</td>
      <td>История</td>
      <td>География</td>
      <td>Биология</td>
      <td>Физкультура</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Математика</td>
      <td>Русский язык</td>
      <td>Обществознание</td>
      <td>Физика</td>
      <td>Иностранный язык</td>
      <td>Литература</td>
      <td>История</td>
      <td>География</td>
      <td>Химия</td>
      <td>ИЗО</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Математика</td>
      <td>Русский язык</td>
      <td>Обществознание</td>
      <td>Физика</td>
      <td>Иностранный язык</td>
      <td>Литература</td>
      <td>История</td>
      <td>География</td>
      <td>Биология</td>
      <td>Физкультура</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Математика</td>
      <td>Русский язык</td>
      <td>Обществознание</td>
      <td>Физика</td>
      <td>Иностранный язык</td>
      <td>Литература</td>
      <td>История</td>
      <td>География</td>
      <td>Химия</td>
      <td>ИЗО</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Математика</td>
      <td>Русский язык</td>
      <td>Обществознание</td>
      <td>Физика</td>
      <td>Иностранный язык</td>
      <td>Литература</td>
      <td>История</td>
      <td>География</td>
      <td>Биология</td>
      <td>Физкультура</td>
    </tr>
  </tbody>
</table>

</div>

{% endblock %}