{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
<div class="container my-5">
    <h1>Загрузить новый файл</h1>
    <form method=post enctype=multipart/form-data>
        <input class="form-label form-control" type=file name=file>
        <input class="btn btn-success" type=submit value='Загрузить на сервер'>
    </form>
</div>
<div class="container my-5">
    <h1>Сохранить конфигурацию в файл на диске</h1>
    {% for ini_file in ini_files %}
        <a href="/download/{{ ini_file }}">{{ ini_file }}</a><br>
    {% endfor %}
</div>
{% endblock %}